STUDIOCORE_DB_DSN="mysql:host=127.0.0.1;dbname=studiocore"
STUDIOCORE_DB_USER="studiocore"
STUDIOCORE_DB_PASSWORD="change-me"
STUDIOCORE_BULKGATE_APPLICATION_ID="0"
STUDIOCORE_BULKGATE_APPLICATION_TOKEN="change-me"
