/* CSS */

/* global */

body {
    font-size: 8px important;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 2rem; /* místo pro šipku */
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.5rem center;
    background-size: 1rem;
    min-width: 60px;
    width: auto;
}

a, a:visited {
    color: #fff !important;
}
a:hover, a:active, .blog_a {
    color: #e67c2f !important;
}

/* datepicker */

.ui-datepicker-calendar td a {
    color: #000 !important;           /* barva textu */
}

.ui-datepicker-calendar td a:hover {
}

.ui-datepicker-today a {
}

.ui-datepicker-current-day a {
    background: #e67c2f;
    color: #fff;
}

/* blog */

.nav-rs {
    font-size: 110%;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    letter-spacing: 2px;
    color: #fff;
}

#banner {
    margin-top: 80px
}

.posts,
.post,
.comment {
    margin: 10px 0;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.comment {
    border-left: 5px solid #ccc;
}

.created-at,
.created-by
{
    font-style: italic;
    font-size: 75%;
    ;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.color-white {
    color: #fff;
}

#div-editor {
    width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}


/* ambulance */

.orders-card {
    width: 390px;
    margin: 10px;
    display: inline-block;
}

.orders-card-bottom {
    padding-top: 30px;
    font-size: 75%;
    font-style: italic;
    line-height: 1;
}


/* diár */

.td_diary_nameday {
    min-width: 14%;
    width: 14%;
    max-width: 14%;
}

.td_diary_header {
    text-align: center;
    font-weight: bold;
}

.td_diary_1, .td_diary_2, .td_diary_3, .td_diary_4, .td_diary_5 {
    color: #000;
}

.td_diary_6, .td_diary_7 {
    color: #ff0000;
}
