<nav class="border border-bottom-1 navbar navbar-dark navbar-expand-xl d-print-none fixed-top navbar-blog" >

    <div class="container-fluid">
        <a class="navbar-brand" href="https://studiocore.cz" target="_blank">
            <img
                class='logo-image d-none d-lg-inline-block'
                src='/images/rs_logo_50.png'
                alt='Studio Core'
                >
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto" style="font-size: 110%;">
                <li class="nav-item mx-2">
                    <a n:href="Diary:default" class="nav-link nav-rs">ROZVRH</a>
                </li>
                <li class="nav-item mx-2">
                    <a n:href="MembershipCard:priceList" class="nav-link nav-rs">CENÍK</a>
                </li>


                {if $user->isLoggedIn()}
                    {if $user->identity->role == "admin" || $user->identity->role == "lektor"}
                        <li class="nav-item mx-2">
                            <a n:href="Sales:default" class="nav-link nav-rs">PRODEJ</a>
                        </li>
                    {/if}

                    <li class="nav-item dropdown">
                        <a class="nav-link  nav-rs dropdown-toggle mx-2" href="#" role="button" data-bs-toggle="dropdown">ADMINISTRACE</a>

                        <ul class="dropdown-menu dropdown-menu-blog">
                            {if $user->identity->role == "klient"}
                                <li>
                                    <a class="dropdown-item" n:href="User:user $user->identity->id" class="nav-link">Uživatel</a>
                                </li>
                            {/if}
                            {if $user->identity->role == "admin" || $user->identity->role == "lektor"}
                                <li>
                                    <a class="dropdown-item" n:href="User:default" class="nav-link nav-link-blog">Uživatel</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" n:href="MembershipCard:default" class="nav-link">Permanentky</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" n:href="Activity:default" class="nav-link">Aktivity</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" n:href="EventLog:default" class="nav-link">EventLog</a>
                                </li>
                            {/if}
                            {if $user->identity->role == "admin"}
                                <li>
                                    <a class="dropdown-item" href="https://portal.bulkgate.com/dashboard/" target="_blank" class="nav-link">BulkGate - správa SMS</a>
                                </li>
                            {/if}

                        </ul>
                    </li>
                {/if}

                <li class="nav-item mx-2">
                    <a href="/docs/rezervacni_rad.pdf" target="_blank" class="nav-link nav-rs"><span style="white-space: nowrap;">REZERVAČNÍ ŘÁD</span></a>
                </li>

            </ul>

            {if $user->isLoggedIn()}
                <span style="white-space: nowrap;" class="padding-right-20 text-white" title="{$user->identity->email}">Uživatel: <strong>{$user->identity->username}</strong></span>
                {if $user->identity->role == "klient"}
                    <button class="btn btn-outline-light mx-2 px-2" data-bs-toggle="modal" data-bs-target="#modalKlientKredity"><span style="white-space: nowrap;"><i class="bi bi-credit-card pe-2"></i> Kredity</span></button>                {/if}

	                {form signoutForm}{input send}{/form}
            {else}
                <a n:href="Sign:in" class="btn btn-outline-light mx-2 px-2" type="button"><span style="white-space: nowrap;"><i class="bi bi-box-arrow-in-right pe-2"></i> Přihlášení</span></a>
                <a n:href="Sign:up" class="btn btn-outline-light mx-2 px-2" type="button"><span style="white-space: nowrap;"><i class="bi bi-person-circle pe-2"></i> Registrace</span></a>
            {/if}
        </div>

    </div>

</nav>

{if $user->isLoggedIn() && $user->identity->role == "klient"}
    <div class="modal fade" id="modalKlientKredity" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vaše kredity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th>Aktivita</th>
                            <th>Počet dostupných kreditů</th>
                        </tr>
                        {foreach $kredity as $key => $items}
                            <tr>
                                <td>{$items['aktivita_nazev']}</td>
                                <td>{$items['kredity']}</td>
                            </tr>
                        {/foreach}
                    </table>
                </div>

            </div>
        </div>
    </div>
{/if}
